<ion-header style="margin-top: 50px">
  <ion-toolbar>
    <ion-title>
      {{ editMode ? "Edit Transaction" : "Add Transaction" }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select formControlName="type">
        <ion-select-option value="SAVING">Saving</ion-select-option>
        <ion-select-option value="WITHDRAW">Withdraw</ion-select-option>
        <ion-select-option value="INTEREST">Interest</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Amount</ion-label>
      <ion-input
        type="number"
        formControlName="amount"
        inputmode="decimal"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Date</ion-label>
      <ion-datetime formControlName="date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Remarks</ion-label>
      <ion-input formControlName="remarks"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="form.invalid">
      {{ editMode ? "Update" : "Add" }}
    </ion-button>
  </form>
</ion-content>
