ion-header {
  padding-top: env(safe-area-inset-top);
}

ion-content.fullscreen {
  --padding-top: env(safe-area-inset-top);
}

div.flex-spaced {
  display: flex !important;
  justify-content: space-between !important;
}